<h1>Delete Meeting Room</h1>
@model MeetingRoomBooking.Models.Booking
<h3>Are you sure you want to cancel booking</h3>
<br />
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Room Capacity
        </dt>
        <dd class="col-sm-10">
            @ViewBag.MeetingRooms
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <button type="submit" class="btn btn-danger">Delete</button>
        <a asp-action="Index" class="btn btn-secondary">Cancel</a>
    </form>
</div>
